/* RESPONSIVE FOR MOBILE DEVICE */
@media screen and (max-width: 576px) {
  /* common styles */
  .btn-primary {
    font-size: 0.875rem;
    padding: 10px 20px;
  }
  .section-title {
    font-size: 2rem;
  }
  .section-info {
    font-size: 1rem;
  }
  section {
    padding: 0 10px;
  }

  /* nav section */
  .header-nav {
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }
  .nav-content .nav-title {
    font-size: 2rem;
  }
  .nav-menu ul {
    flex-direction: column;
    gap: 10px;
  }

  /* banner section */
  .banner {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    box-shadow: none;
  }
  .banner-bg {
    background-position: center;
    margin: 0 10px;
    padding: 20px;
    justify-content: center;
  }
  .banner-content {
    margin-left: 0px;
  }
  .banner-content h3 {
    font-size: 1.5rem;
  }
  .banner-content h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .banner-content p {
    font-size: 0.875rem;
    margin-bottom: 5px;
  }
  .banner-btn {
    margin-top: 16px;
  }
  .banner-image {
    margin-right: 0px;
  }
  .banner-image img {
    width: 70%;
  }

  /* gamer section */
  .gamer {
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 40px 0;
  }
  .gamer-content {
    margin-left: 0;
    text-align: left;
  }
  .gamer-content h4 {
    font-size: 1rem;
  }
  .gamer-content h3 {
    font-size: 1.125rem;
  }

  /* online game section */
  .online-game {
    margin: 40px 0px;
  }
  .online-game-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
  .online-game-cards .single-card {
    width: 80%;
    margin: 0 auto;
  }
  .online-game-cards .single-card .card-text {
    font-size: 1rem;
  }

  /* play instant section */
  .play-instant {
    margin: 50px 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .play-instant .section-content {
    width: 90%;
  }
  .play-instant .image {
    width: 70%;
    margin: 0 auto;
  }

  /* play games section */
  .play-games {
    margin: 50px 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .play-games .section-content {
    width: 90%;
  }
  .play-games .image {
    width: 70%;
    margin: 0 auto;
    order: 1;
  }
}
